*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: hsl(0, 0%, 8%);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

a{
    color: white;
    text-decoration: none;
}

a :hover{
    color: hsl(0, 0%, 12%);
    background-color: hsl(75, 94%, 57%);
}

.Container{
    margin: 100px 550px;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%) ;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img{
    border-radius: 50%;
    width: 100px;
}

.Name{
    font-size: 18px;
    font-weight: 400;
}

.Info{
    color: hsl(75, 94%, 57%);
}

.Quote{
    color: hsl(0, 0%, 40%);
}

ul{
    list-style-type: none;
}

.Socials ul li{
    display: flex;
    flex: 1 0 0;
    width : 350px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    align-items: center;
    background-color: hsl(0, 0%, 30%);
    padding: 10px;
    margin: 10px;
    font-weight: 700;
}

.Socials ul li :hover{
    display: flex;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

.Creds{
    font-size: 10px;
    color: lightblue;
}